<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Video Sharing</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a id="home-icon" href="/">
            <img src="/icon.png" alt="Home" />
        </a>
        <h1>Social Media Video Sharing</h1>
        <form class="search-form" onsubmit="handleSearch(event)">
            <input type="text" id="search-input" value="{{query}}" placeholder="Search videos" required>
            <button type="submit">Search</button>
        </form>
    </header>

    <div id="menu-backdrop" class="hide-menu"></div>
    <div id="menu-bar" class="hide-menu">
        <ul>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Post Video</a></li>
            <li><a href="#">Filters</a></li>
            <li><a href="saved">Saved</a></li>
        </ul>
    </div>

    {{{body}}}

    <div id="upload-backdrop"></div>
    <div class="upload-box hide-upload"id="upload-box">
        <label for="video-title">Title:</label>
        <input type="text" id="video-title" placeholder="Enter video title">
        <label for="video-url">URL:</label>
        <input type="url" id="video-url" placeholder="Enter video URL">
        <label for="video-description">Description:</label>
        <textarea id="video-description" placeholder="Enter video description"></textarea>
        <label>
            <input type="checkbox" id="for-kids"> For Kids
        </label>
        <label for="post-genre">Genre:</label>
            <select id="post-genre" name="post-genre">
            <option selected value="">Any</option>
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="horror">Horror</option>
            <option value="documentary">Documentary</option>
            <option value="animation">Animation</option>
            </select>
        <button>Upload Video</button>
    </div>

    <button id="upload-button"class="show-upload-box">+</button>

    <script>
        function handleSearch(e) {
            e.preventDefault();
            const search = document.getElementById('search-input').value.trim();
            const genre = document.getElementById('genre-select').value.trim();
            const kidFriendly = document.getElementById('kid-friendly-checkbox').checked;
            let url = '/search?query=' + encodeURIComponent(search);
            if (genre) {
                url += '&genre=' + encodeURIComponent(genre);
            }
            if (kidFriendly) {
                url += '&forKids=' + encodeURIComponent(kidFriendly);
            }
            window.location.href = url;

        }

    </script>


<div id="filter-backdrop" class="filter-hidden"></div>
<div id="filter-modal" class="filter-hidden">
    <div class="filter-dialog">

    <div class="filter-header">
        <h4>Search Filters</h4>
        <button type="button" id="filter-close" class="filter-hide-button">&times;</button>
    </div>

    <div class="filter-body">

        <div class="filter-input-element">
            <label for="kid-friendly-checkbox">Kid friendly</label>
            <input type="checkbox" id="kid-friendly-checkbox" name="kidFriendly">
        </div>
        <div class="filter-input-element">
            <label for="genre-select">Genre</label>
            <select id="genre-select" name="genre">
                <option value="">Any</option>
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="horror">Horror</option>
                <option value="documentary">Documentary</option>
                <option value="animation">Animation</option>
            </select>
        </div>


    </div>

    <div class="filter-input-element">
        <button type="submit">Apply Filters</button>
    </div>

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/templates.js" charset="utf-8"></script>
<script src="/index.js" charset="utf-8"></script>

</body>
</html>

