{{!< layouts/main}}
<div class="video-player-container">
    <h2>{{video.title}}</h2>
    <video class="video-player" controls preload="metadata" poster="{{video.thumbnail}}">
    <source src="{{video.url}}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <p>{{video.description}}</p>
</div>